<ion-content class="contentStyle">

    <ion-card class="cardStyle" *ngFor="let article of listeArtic">
        <ion-card-header class="imgStyle">
          <ion-img></ion-img>
        </ion-card-header>
    
        <ion-card-title class="titleStyle">{{article.title}}</ion-card-title>
        <ion-label>{{article.date}}</ion-label>
        <ion-card-content>
          {{article.extrait}}
        </ion-card-content>
        <ion-label>{{article.author}}</ion-label>
        <ion-button margin="20" color="primary" class="buttonStyle">voir plus</ion-button>
    </ion-card>

</ion-content>
