<ion-toolbar padding="15">
    <ion-buttons color="light" slot="start">
        <ion-button class="buttonSearch">
        </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-img class="logoDWWM" src="../../assets/img/logo_DWWM.png"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
        <ion-button class="buttonSearch">
          <ion-icon name="search"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-content class="contentStyle">
<!-- Ceci est un composant Ionic "Card". -->
      <!-- Insertion d'une boucle For avec *ngFor pour créer chaque articles selon ces propres informations -->
    <ion-card class="cardStyle" *ngFor="let article of listeArtic">
      <ion-card-header class="imgStyle">
        <img src="{{article.imageUrl}}"> 
      </ion-card-header>
        <!-- Insertion de données dynamiques -->
        <!-- Ces données communiques avec un service "articles.service" -->
      <div class="containerCard">
        <ion-card-title class="titleStyle">{{article.title.rendered}}</ion-card-title>
        <ion-card-content class="contentStyle">
          {{article.extrait}}
        </ion-card-content>
        <div class="footerContainer">
          <div class="footerLabel">
            <ion-label>{{article.author}} le </ion-label>
            <ion-label>{{article.date}}</ion-label>
          </div>
          <!-- Insertion d'un button ionic -->
          <ion-button margin="20" fill="clear" color="primary" class="buttonStyle">Afficher plus...</ion-button>
        </div>
      </div>
    </ion-card>
<!-- Ceci est un composant Ionic "Card". -->
</ion-content>
