ion-toolbar{
  --background: rgb(63, 200, 252);
}

.cardStyle{
  max-width: 90%;
  margin: 20px auto;
}

.imgStyle{
  padding: 0;
}

.containerCard{
  padding: 13px 16px 16px 16px;
  margin: 0px;
}

.buttonStyle{
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

.contentStyle{
  padding: 15px 0px;
}

.footerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}