.customize-partial-edit-shortcut-alchem_section_0_image_0 .customize-partial-edit-shortcut-button{
	left : 60px;
	top: 50px;
}
.customize-partial-edit-shortcut-alchem_section_0_image_1 .customize-partial-edit-shortcut-button{
	left : 60px;
	top: 50px;
}	
.customize-partial-edit-shortcut-alchem_youtube_content .customize-partial-edit-shortcut-button{
	left : 60px;
}		
.customize-partial-edit-shortcut-alchem_enable_page_title_bar .customize-partial-edit-shortcut-button{
	top : -150px;
}	
.customize-partial-edit-shortcut-alchem_header_style .customize-partial-edit-shortcut-button{
	top : 30px;
}	